<%= form_with(model: @diary, local: true) do |form| %>
  <%= form.hidden_field :user_id %>
  <div class="new-body">
    <div class="new-top"><h1>新規活動日記投稿</h1></div>
  <div class="new-content">
<table align="center">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title %></td>
  </tr>

  <tr>
    <th><%= form.label :activity_date %></th>
    <td><%= form.date_select :activity_date %></td>
  </tr>

  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.text_area :content %></td>
  </tr>

  <tr class="diary-tags-field">
      <%= form.label "タグ名" %>
      <ul id="diary-tags">
      </ul>
  </tr>

  <tr>
    <td>画像</td>
  </tr>

  <tr>
    <th><%= form.submit "投稿する" %></th>
  </tr>

</table>
</div>
</div>

<% end %>
