<%= form_with(model: @diary,local: true) do |form| %>
  <%= form.hidden_field :user_id %>
  <div class="new-body">
    <div class="new-top"><h1>新規活動日記投稿</h1></div>
  <div class="new-content">

  <div class="new-title-content">
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
  </div>

  <div class="new-activity_date-content">
    <p><%= form.label :activity_date %></p>
    <p><%= form.date_select :activity_date %></p>
  </div>

  <div class="new-content-content">
    <p><%= form.label :content %></p>
    <p><%= form.text_area :content %></p>
  </div>

  <div class="diary-tags-field">
    <%= form.label "タグ名" %>
    <div class="add-tag-field">
      <ul id="diary-tags"></ul>
    </div>
  </div>

    <div class="diary-image-field" id="main_image_view" onClick="$('#main_image').click()">
    <%= image_tag @diary.main_image.url, class: "back-icon" %>
    </div>

    <div class="img-form">
    <%= form.label :main_image %>
    <%= form.file_field :main_image, id: :main_image %>
    <%= form.label :sub_image %>
    <%= form.file_field :sub_image,　id: :sub_image, multiple: true %>
    </div>

    <!-- <div class="sub-image-area"> -->
    <%# <%= image_tag @diary.sub_image.url %> %>
    <!-- </div> -->

  <div class="new-submit">
    <p><%= form.submit "投稿する" %></p>
  </div>

  <div class="diary-sub-image-field" id="sub_image_view" onClick="$('#sub_image').click()">
      <%# <%= image_tag @diary.sub_image[0], class: "sub-image" %> %>
  </div>

</div>
<% end %>
</div>
