<%= form_with(model: @diary, local: true) do |form| %>
  <%= form.hidden_field :user_id %>
  <div class="new-body">
    <div class="new-top"><h1>新規活動日記投稿</h1></div>
  <div class="new-content">

  <div class="new-title-content">
    <p><%= form.label :title %></p>
    <p><%= form.text_field :title %></p>
  </div>

  <div class="new-activity_date-content">
    <p><%= form.label :activity_date %></p>
    <p><%= form.date_select :activity_date %></p>
  </div>

  <div class="new-content-content">
    <p><%= form.label :content %></p>
    <p><%= form.text_area :content %></p>
  </div>

  <div class="diary-tags-field">
    <%= form.label "タグ名" %>
    <div class="add-tag-field">
      <ul id="diary-tags"></ul>
    </div>
  </div>

  <div>
  <p>画像</p>
  <div class="diary-image-field"></div>
  </div>

  <div class="new-submit">
    <p><%= form.submit "投稿する" %></p>
  </div>

</div>

<% end %>
</div>
