<div class="index-top">
  <h1>活動日記一覧ページ</h1>
</div>

<div class="index-side">
  <%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, "title" %>
    <%= f.text_field :title_cont, class: "form-control" %>
  </div>

  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>


<div class="index-content">
  <table>
    <tr>
      <th>タイトル</th>
      <th>活動日時</th>
      <th>投稿者</th>
    </tr>
  </table>
  <% @diaries.each do |diary| %>
  <table>
      <tr>
        <tb><%=link_to diary.title, diary_path(diary.id) %></tb>
        <tb><%= diary.activity_date %></tb>
        <tb><%= diary.user.name %></tb>
      </tr>
      <tr>
        <td><%= link_to "編集", edit_diary_path(diary.id) %></td>
        <td><%= link_to "削除", diary_path(diary.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
      </tr>
    <% end %>
  </table>
</div>
