<div class="user-show-top">
<%= image_tag("top_background_image.jpg", class:"back-icon") %>
<div class="icon-box">
<%= image_tag("sample_icon.png", class:"icon") %>
</div>
</div>

<div class="user-show-content">
  <table align="center">
    <tr class="user-show-name">
      <td><h3><%=@user.name %></h3></td>
      <td><%= link_to "編集する", edit_user_path(@user.id) %></td>
    </tr>
  </table>
  <table align="center">
    <tr class="user-show-prof">
      <td><%=@user.sex %></td>
      <td><%=@user.age %></td>
      <td><%=@user.birth_place %></td>
    </tr>
    <tr>
      <td><%=@user.activity_area %></td>
    </tr>
    <tr>
      <td><%=@user.outdoor_history %></td>
    </tr>
    </table>
    <tr>
      <td><%= @user.introduction %></td>
    </tr>
  </table>

</div>
