<div class="user-show-top">
<%= image_tag(@user.back_icon.url, class:"back-icon") %>
<div class="icon-box">
<%= image_tag(@user.icon.url, class:"icon") %>
</div>
</div>

<div class="user-show-content">
  <table align="center">
    <tr class="user-show-name">
      <td><h3><%=@user.name %></h3></td>
      <td><%= link_to "編集する", edit_user_path(@user.id) %></td>
    </tr>
  </table>
  <table align="center">
    <tr>
      <td><%=@user.sex %></td>
      <td><%=@user.age %></td>
      <td><%=@user.birth_place %></td>
    </tr>
    <tr>
      <td><%=@user.activity_area %></td>
      <td><%=@user.activity_area %></td>
      <td><%=@user.activity_area %></td>
    </tr>
  </table>
    <div class="user-show-history">
      <p><%=@user.outdoor_history %></p>
    </div>
    <div class="user-show-introduction">
      <p><%= @user.introduction %></p>
  </div>

</div>
