<%= form_with(model: image, url: images_path(image.id), method: :post) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%# <% binding.pry %> %>

  <div class="main-image-field">
    <%= form.file_field :main_image %>
  </div>

  <div class="sub-image-field">
    <%= form.file_field :sub_image , multiple: true %>
  </div>

  <%= form.submit "画像を追加する" %>

<% end %>
