<!DOCTYPE html>
<html>
  <head>
    <title>ActiveShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'colorbox.css'%>
    <%= javascript_include_tag 'jquery.colorbox-min.js'%>
  </head>

  <body>
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <!-- <a class="navbar-brand" href="#">ブランド</a> -->
          <p class="navbar-brand"><%= link_to image_tag('top_icon.png')%></p>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p class="dropdown-item"><%= link_to "マイページ", user_path(current_user.id)%></p>
                    <p class="dropdown-item"><%= link_to "ユーザー一覧", users_path%></p>
                    <p class="dropdown-item"><%= link_to "活動日記投稿", new_diary_path%></p>
                    <p class="dropdown-item"><%= link_to "活動日記一覧", diaries_path%></p>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete%></p>
                    <% else %>
                    <p class="header_link"><%= link_to "log in", new_user_session_path %></p>
                    <p class="header_link"><%= link_to "sign up", new_user_registration_path %></p>
                    <% end %>
                  </div>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </header>

    <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
