<!DOCTYPE html>
<html>
  <head>
    <title>ActiveShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://yarnpkg.com/en/package/normalize.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap.min.css'%>
    <%= stylesheet_link_tag    'override.css'%>
    <%= stylesheet_link_tag    'colorbox.css'%>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.min.js'%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin: "anonymous"%>
    <%= include_gon %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'jquery.colorbox-min.js'%>
  </head>

  <body>
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <p class="navbar-brand"><%= link_to image_tag('top_icon.png'), unauthenticated_root_path%></p>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %></a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p class="dropdown-item"><%= link_to "マイページ", user_path(current_user.id)%></p>
                    <p class="dropdown-item"><%= link_to "ユーザー一覧", users_path%></p>
                    <p class="dropdown-item"><%= link_to "活動日記投稿", new_diary_path%></p>
                    <p class="dropdown-item"><%= link_to "活動日記一覧", diaries_path%></p>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete%></p>
                    <% else %>
                    <p class="header_link"><%= link_to image_tag("top_logo3.png", width: "80px"), new_user_session_path %></p>
                    <p class="header_link"><%= link_to image_tag("top_logo2.png", width: "80px"), new_user_registration_path %></p>
                    <% end %>
                  </div>
            </ul>
          </div>
        </nav>
        <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>

      </header>


    <%= yield %>

    <footer>
      <div class="footer">
        <p>©︎ActiveShare </p>
      </div>
    </footer>
  </body>
</html>
